<div class='card-container px-5'>
    <div class="row">
        <div class="col-4 p-1"><app-card [project]="projects[0]" ref='child' ></app-card></div>
        <div class="col-4 p-1"><app-card [project]="projects[1]"  ref='child' ></app-card></div>
        <div class="col-4 p-1"><app-card [project]="projects[2]" ref='child' ></app-card></div>
    </div>
    <div class="row">
        <div class="col-4 p-1"><app-card [project]="projects[3]" ref='child'></app-card></div>
        <div  class="col-4 p-1 "><app-card [project]="projects[4]" ref='child'></app-card></div>
        <div  class="col-4 p-1"><app-card [project]="projects[5]" ref='child'></app-card></div>
    </div>
    <div class="row">
      <div class="col-4 p-1"><app-card [project]="projects[6]" ref='child'></app-card></div>
      <div  class="col-4 p-1 "><app-card [project]="projects[7]" ref='child'></app-card></div>
      <div  class="col-4 p-1"><app-card [project]="projects[8]" ref='child'></app-card></div>
    </div>
  </div>
